@import "normalize";

.container {
  width: $container-width;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-center {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.form-control {
  border: 2px solid $input-border-color;
  border-radius: 5px;
  margin: $base-line-height/3 0;
  outline-color: transparent;
  padding: 3px;
  transition: all 0.15s linear;
  &:focus, &:active, &:hover {
    border-color: darken($input-border-color, 15);
  }
}

.with-error {
  border-color: red !important;
}

.with-success {
  border-color: green !important;
}